

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-fill {
  flex: 1 1 auto;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fl-rt {
  float: right;
}

.fl-lt {
  float: left;
}

.mid-block {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 40px 0 40px;
}

.sub-title {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin-bottom: 16px;
}

.title {
  font-size: 16px;
  color: #000;
  font-weight: bold;
  margin-bottom: 24px;
}



.border {
  border-bottom: 1px solid #eff0f0;
}

.font-size-s {
  font-size: 14px;
}

.pd-top-s {
  padding-top: 10px
}

.pd-top-xs {
  padding-top: 4px
}

.mg-rt-s {
  margin-right: 10px;
}
.mg-rt-xs {
  margin-right: 4px;
}

.mg-lf-s {
  margin-left: 10px;
}
.mg-tp-s {
  margin-top: 10px;
}

.mg-tp-m {
  margin-top: 20px ;
}
.mg-bt-s {
  margin-bottom: 10px;
}

.mg-bt-m {
  margin-bottom: 20px !important;
}

.primary-color {
  color: #409eff;
}
.info-color {
  color: #909399
}
.success-color {
  color: #2fc29b;
}

.error-color {
  color: #f24848;
}

.text-align-left {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
}

.height-s {
  height: 24px;
}

.line-height-20 {
  line-height: 20px;
}

.line-height-m {
  line-height: 32px;
}

.split {
  color: #cccccc;
  margin-left: 4px;
  margin-right: 4px;
}



.link {
  cursor: pointer;
}

.line {
  &::after {
    margin-top: 12px;
    display: block;
    height: 1px;
    background: #EBEEF5;
    content: '';
  }
}

.title {
  font-size: 16px;
  color: #000;
  font-weight: bold;
  margin-bottom: 24px;
}

.sub-title {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin-bottom: 16px;
}